body{
	overflow-y: hidden;
}

.modal.bottom-sheet{
	max-height: 80%;
}

.logo-wrapper{
	flex: row nowrap;
	justify-content: center;
	align-items: center;
}

#logo{
	background: url(../img/brand-logo.png) no-repeat center center;
	background-size: 125px 50px;
    height: 50px;
    width: 150px;
}

#tab-trips{
	overflow-y: scroll;
    height: calc(100% - 128px);
    width: auto;
}

#tab-statistics{
	overflow-y: scroll;
    height: calc(100% - 128px);
    width: auto;
}

.preload-window{
	z-index: 9999;
	position: fixed;
	top: 0px; bottom: 0px;
	left: 0px; right: 0px;
}

#display-trip-loading{
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container{
	max-width: 1200px;
}

.tab-trips-container{
	max-width: 1200px;
	margin: 0px auto;
}

.card-content.less-padding{
	padding: 16px;
}

.display-trip-container{
	line-height: 1.2;
}

.display-trip-flex-row{
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.display-trip-flex-row.display-trip-container {
	justify-content: space-around;
}

.display-trip-flex-column{
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: stretch;
}

.display-trip-datebox{
	flex: 0 0 25%;
}

.display-trip-vehiclebox{
	flex: 0 0 30%;
}

.display-trip-miscbox{
	flex: 0 0 25%;
}

.display-trip-date-top{
	font-size: 13px;
}

.display-trip-date-center{
	margin-top: -7px;
	font-size: 45px;
}

.display-trip-date-bottom{
	font-size: 14px;
}


.display-trip-vehiclebox .card{
	margin: 0;
	padding: 5px;
}

.display-trip-plate{
	font-size: 30px;
}

.display-trip-mileage{
	font-size: 20px;
}

.display-trip-platform{
	font-weight: bold;
	font-size: 15px;
}

.display-trip-odo-start{
	font-size: 15px;	
}

.display-trip-odo-end{
	font-size: 15px;
}

.display-stats-platform-label{
	font-weight: bold !important;
}

#stats-import-input{
	white-space: pre;
}
#stats-import-check{
	white-space: pre;
}
#stats-export-print{
	white-space: pre;
}